/* ============================================================ */
/* Animations
*/

@keyframes glowEffect {
	0% {
		box-shadow: 0 0 0 0 #B33;
	}
	50% {
		box-shadow: 0 0 16px 0 #B33;
  }
  100% {
		box-shadow: 0 0 0 0 #B33;
	}
}
