@import url("fontFaces.css");
@import url("animations.css");
@import url("reset.css");

@import url("components/header.css");
@import url("abstracts/flow.css");

/*@import url(".css");
@import url(".css");
@import url(".css");
@import url(".css");
@import url(".css");
@import url(".css");*/



/* ============================================================ */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 15%;
  top: 0;
  left: 0;
  padding: 0 4%;
  background-color: #e58c32;
  border-bottom: 1px solid #CCC;
  box-shadow: 0 3px 0 0 #CCC;
}

section {
  position: relative;
  top: 15%;
  margin: 0 4%;
}

header img {
  display: block;
  height: 80%;
  width: auto;
  margin: auto;
  position: relative;
  top: 10%;
}

.header__logo {
  float: left;
  height: 100%;
  width: 20%;
}

.header__btn {
  cursor: pointer;
  float: right;
  height: 80%;
  position: relative;
  top: 10%;
  margin-left: 15px;
  background-color: #FFF;
  border-radius: 7px;
  border: 1px solid #CCC;
  box-shadow: 0 -1px 0 0 #CCC;
  width: 10vh;
}

.header__btn img {
  height: 50%;
  top: 25%;
}

/* ============================================================ */

.half,
.btn {
  width: 50%;
  float: left;
  float: left;
	display: block;

  width: 47%;
  margin: 0;

}

.box {
  width: 100%;
  margin: 4% 0;
  padding: 2% 4%;

  border-radius: 7px;
  border: 1px solid #CCC;
  background-color: white;

  font-size: 0.8em;
}

.btn {
  margin-bottom: 4%;
  padding: 0;
	height: 20%;
	border-radius: 7px;
  border: 1px solid #CCC;
  cursor: pointer;
  box-shadow: 0 3px 0 0 #CCC;
  position: relative;
}

.btn__icon {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.btn__toggle {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.btn__icon {
	float: left;
	height: 100%;
	width: 50%;
}

.btn__icon > div {
	display: block;
	margin: auto;
	height: 60%;
  position: relative;
  top: 20%;
	width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn__caption {
  width: 60%;
	float: left;
	height: 100%;
}

.btn__caption p {
  text-align: left;
	display: block;
  position: relative;
  top: 38%;
	line-height: 80%;
  font-size: 1.2em;

	color: #FFF;

	font-smoothing: grayscale;
	/*-moz-osx-font-smoothing: grayscale;*/

}

.btn:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 7px;

}

.btn.btn--loading:before {
  animation: 1s ease 0s normal none infinite running glowEffect;
}
.btn.btn--error:before {
  animation: 0.3s ease 0s normal none infinite running glowEffect;
}

.btn__toggle {
	background-color: #FFF;
	float: right;
	height: 100%;
	width: 50%;
}

.btn__toggle__icon {
  display: block;
  position: relative;
  margin: auto;
  width: 50px;
  height: 6px;
  top: 50%;
  margin-top: -2px;
}

.btn__toggle__icon:after,
.btn__toggle__icon:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  transition: 0.3s transform ease-in-out, 0.3s background-color ease-in-out;
}

.btn__toggle__icon:after {
  transform: rotate(45deg);
}
.btn__toggle__icon:before {
  transform: rotate(-45deg);
}

.btn--active .btn__toggle__icon:after,
.btn--active .btn__toggle__icon:before {
  background-color: #1a1;
}

.btn--active .btn__toggle__icon:before {
  transform: translateX(-15px) translateY(6px)rotate(-135deg) scaleX(0.5) ;
}
.btn--active .btn__toggle__icon:after {
  transform: translateX(10px) rotate(-45deg);
}

.btn--complete .btn__toggle__icon {

}
.btn--active .btn__toggle__icon {

}




.clear {
  clear: both;
}


.window {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  right: 0;
  top: 15%;
  bottom: 0;
  background-color: #EEE;
  z-index: 90;
  transition: 0.4s transform ease-in-out;
  transform: translateY(-100%);
}

.window__inner {
  height: 100%;
  padding: 4%;
}

.window.active {
  transform: translateY(0%);
}





.pin-line {
  clear: left;
  margin-top: 5px;
  height: 36px;
  background-color: #FFF;
}

.pin-line > div {
  float: left;
  height: 36px;
  line-height: 36px;
}

.pin-line > .pin-line__nothing {
  min-height: 1px;
  width: 36px;
}

.pin-line > .pin-line__id {
  text-align: center;
  background-color: #e58c32;
  width: 36px;
  color: #fff;
}

.pin-line > .pin-line__name {
  margin-left: 10px;
  width: 45px;
  font-size: 0.5em;
}

.pin-line > .pin-line__dir {
  margin-left: 10px;
  font-size: 0.5em;
}

.pin-line > .pin-line__val {
  text-align: center;
  float: right;
  width: 36px;
  transform: scale(0.4) translateY(0px);
}

.login-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #FFF;

  transition: top 0.2s ease-in-out;
}



.login-section .btn > div {
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  position: relative;
  top: 25%;
}

.login-section.active {
  top: -115%;
}

.shell {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: relative;

  color: #FFF;
  font-family: Monospace;
}

.shell__content {
  overflow-y: scroll;
  line-height: 17px;
  font-size: 15px;
  position: absolute;
  bottom: 30px;
  top: 0;
  left: 0;
  width: 100%;
}

.shell__content b {
  color: #5F5;
}

.shell__input {
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  width: 100%;
  border: 0;
  border-top: 1px solid #fff;
  color: #FFF;
  font-family: Monospace;
}
