* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	margin-top: 70px;
}

/* Base */
body {
    background-color: #EEE;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
  	font-family: Raleway;
}

section {
  position: relative;
  margin: 0 4% 0 4%;
}

b {
  font-weight: 600;
}

@media (max-device-width: 800px) {
  body {
    font-size: 20px;
  }
}
