.btn--rgb__half {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

.btn.btn--rgb__indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  height: auto;
  width: auto;
  border-radius: 7px;
  margin: 0;
  background-color: red;
}

.btn--rgb__indicator:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 7px;

  box-shadow: inset 0px 0px 5px 5px rgba(255,255,255,0.4);
  border: 2px solid rgba(255, 255, 255, 0.6)
}



.btn--rgb__invisible-trigger {
  height: 0;
  width: 0;
}
