.btn--rgb {
  padding: 2px;
}

.btn--rgb__button {
  float: left;
  width: 16.66%;
  height: 100%;
  position: relative;
}

.btn.btn--rgb__indicator {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 6px;
  left: 4px;
  height: auto;
  width: auto;
  border-radius: 7px;
  margin: 0;
}

.btn--rgb-static .btn--rgb__indicator,
.btn--rgb-dynamic .btn--rgb__indicator {
  background: -moz-linear-gradient( top ,
      rgba(255, 0, 0, 0.8) 0%,
      rgba(255, 255, 0, 0.8) 15%,
      rgba(0, 255, 0, 0.8) 30%,
      rgba(0, 255, 255, 0.8) 50%,
      rgba(0, 0, 255, 0.8) 65%,
      rgba(255, 0, 255, 0.8) 80%,
      rgba(255, 0, 0, 0.8) 100%);
  background: -webkit-gradient(linear,  left top,  left bottom,
      color-stop(0%, rgba(255, 0, 0, 0.8)),
      color-stop(15%, rgba(255, 255, 0, 0.8)),
      color-stop(30%, rgba(0, 255, 0, 0.8)),
      color-stop(50%, rgba(0, 255, 255, 0.8)),
      color-stop(65%, rgba(0, 0, 255, 0.8)),
      color-stop(80%, rgba(255, 0, 255, 0.8)),
      color-stop(100%, rgba(255, 0, 0, 0.8)));

  box-shadow: 0 3px 0 0 rgb(204, 0, 0);
}

.btn--rgb-off .btn--rgb__indicator {
  background-color: #ccc;
  box-shadow: 0 3px 0 0 #a0a0a0;
}

.btn--rgb-red .btn--rgb__indicator {
  background-color: rgb(186, 48, 48);
  box-shadow: 0 3px 0 0 rgb(149, 38, 38);
}
.btn--rgb-green .btn--rgb__indicator {
  background-color: rgb(48, 156, 58);
  box-shadow: 0 3px 0 0 rgb(38, 126, 46);
}
.btn--rgb-blue .btn--rgb__indicator {
  background-color: rgb(48, 70, 156);
  box-shadow: 0 3px 0 0 rgb(38, 56, 126);
}



.btn--rgb__indicator:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 7px;

  /*box-shadow: inset 0px 0px 5px 5px rgba(255,255,255,0.4);*/
  border: 3px solid rgba(255, 255, 255, 0.3);
}



.btn--rgb__invisible-trigger {
  height: 0;
  width: 0;
}
