.login-section section, .flow {
  height: 100%;
}

.flow .half:nth-child(2n){
  float: right;
}

.half {
  float: left;
	display: block;
  width: 47%;
  margin-left: 0;
  margin-right: 0;
}

.full {
  float: left;
	display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
